html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

/* apt loading */
.apt-loading-white, .apt-loading-dark {
	position: fixed;
	background: #f0f9ff;
	background: -moz-radial-gradient(center, ellipse cover, #f0f9ff 0%, #cbebff 71%, #e5e5e5 99%);
	background: -webkit-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 71%,#e5e5e5 99%);
	background: radial-gradient(ellipse at center, #f0f9ff 0%,#cbebff 71%,#e5e5e5 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#e5e5e5',GradientType=1 );
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 10;
}
.apt-loading-white:before, .apt-loading-dark:before {
	content: "";
	display: block;
	padding: calc(15% + 10px);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	border-radius: 100%;
	border-top: 5px solid #f49800;
	border-right: 5px solid transparent;
	animation: apt-loading-top 2s linear infinite;
}
.apt-loading-white:after, .apt-loading-dark:after {
	content: "";
	display: block;
	padding: calc(15% + 10px);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	border-radius: 100%;
	border-bottom: 5px solid #f49800;
	border-left: 5px solid transparent;
	animation: apt-loading-bottom 2s linear infinite reverse;
}
.apt-loading-white img, .apt-loading-dark img {
	width: 15%;
	min-width: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
@keyframes apt-loading-top {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes apt-loading-bottom {
	0% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

/* apt loading white */
.apt-loading-white {
	animation: apt-loading-white 10s infinite;
}
@keyframes apt-loading-white {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* apt loading dark */
.apt-loading-dark {
	 animation: apt-loading-dark 10s infinite; 
	background: rgba(43,43,43,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(43,43,43,1) 0%, rgba(15,15,15,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(43,43,43,1)), color-stop(100%, rgba(15,15,15,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(43,43,43,1) 0%, rgba(15,15,15,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(43,43,43,1) 0%, rgba(15,15,15,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(43,43,43,1) 0%, rgba(15,15,15,1) 100%);
	background: radial-gradient(ellipse at center, rgba(43,43,43,1) 0%, rgba(15,15,15,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#0f0f0f', GradientType=1 );
}
@keyframes apt-loading-dark {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}